<h2>Excluir Vendedor</h2>

<h4>Deseja realmente excluir este nome do registro?</h4>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim()
    {
        alert('sim');
        window.location.href = '../../Vendedor/ExcluirVendedor/' + '@ViewData["idExcluir"].ToString()';
    }

    function Nao()
    {
        alert('Não');
        window.location.href= '../../Vendedor/Index'
    }
</script>