<h2>Excluir Vendedor</h2>

<h4>Deseja excluir este cliente do Banco de Dados?</h4>
<h5>Uma vez excluido, não tem como recupera-lo novamente!</h5>

<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim()
    {
        alert('sim');
        window.location.href = '../../Vendedor/ExcluirVendedor/' + '@ViewData["idExcluir"].ToString()';
    }

    function Nao()
    {
        alert('Não');
        window.location.href= '../../Vendedor/Index'
    }
</script>